controller_credentials:
{% for item in credential_types -%}
{% if item == 'Source Control' %}
  - name: {{ source_control_name }}
    description: {{ source_control_description }}
    organization: {{ org_name }}
    credential_type: {{ item }}
    inputs:
      username: {{ source_control_username }}
      password: {{ source_control_password }} 
{% endif %}
{% if item == 'Machine' %}
  - name: {{ machine_credential_name }}
    description: {{ machine_credentials_description }}
    organization: {{ org_name }}
    credential_type: {{ item }}
    inputs:
      username: {{ machine_credential_username }}
      password: {{ machine_credential_password }}
      ssh_key_data: {{ machine_credentials_private_key }}
      ssh_key_unlock: {{ machine_credentials_private_key_passphrase }}
      become_method: {{ machine_credentials_become_method }}
      become_username: {{ machine_credentials_become_username }}
      become_password: {{ machine_credentials_become_password }} 
{% endif %}
{% endfor -%}